:root {
  --main-color: #222;
  --text-color: #b24a3b;
  --secondary-color: #f4ead2;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: 'Roboto', 'Open Sans';
}

.container {
  padding: 40px 40px;
}

.section-header {
  font-size: 48px;
  font-weight: 700;
}

/* HEADER */

.header {
  background-color: var(--text-color);
  color: var(--main-color);
  font-size: 30px;
  font-weight: 400;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  height: 100%;
  width: 15%;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header__nav-link {
  color: var(--main-color);
  transition: .3s;
}

.header__nav-link:hover {
  text-shadow: 1px 1px 2px var(--secondary-color);
}

/* ABOUT */

.about__top {
  padding-left: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.about__main-image {
  width: 55%;
  object-fit: contain;
  align-self: flex-end;
}

.about__main-info {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.about__nickname {
  width: fit-content;
  padding: 0 20px;
  background-color: var(--text-color);
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 300;
}

.about__name {
  width: fit-content;
  font-size: 100px;
}

.about__spec {
  width: fit-content;
  color: var(--secondary-color);
  font-size: 60px;
  font-weight: 400;
}

.about__bottom {
  display: flex;
  justify-content: space-between;
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.about__text {
  flex: 0 0 60%;
  pointer-events: none;
}

.about__header {
  font-size: 50px;
}

.about__about-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
}

.about__diploma {
  width: 30%;
  object-fit: contain;
  cursor: pointer;
}

/* PROJECTS-ICONS */

.icon-no-mobile {
  background-image: url("/img/no-mobile-icon.png");
}

.icon-no-mobile,
.icon-wip
{
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-no-mobile::before {
  content: 'Без адаптивности';
}

.icon-no-mobile::before,
.icon-wip::before
{
  display: block;
  width: 120px;
  padding: 5px;
  position: absolute;
  bottom: 110%;
  left: 90%;
  font-size: 12px;
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: var(--text-color);
  z-index: 2;
}

.icon-no-mobile::after,
.icon-wip::after
{
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 110%;
  transform: skew(300deg) rotate(45deg);
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid var(--text-color);
  border-right: 8px solid var(--text-color);
}

.icon-wip {
  background-image: url("/img/wip-icon.png");
}

.icon-wip::before {
  content: 'Работы еще ведутся';
}

.icon-no-mobile::before,
.icon-no-mobile::after,
.icon-wip::before,
.icon-wip::after
{
  opacity: 0;
  transition: .2s;
  pointer-events: none;
  text-align: center;
}

.icon-no-mobile:hover::before,
.icon-no-mobile:hover::after,
.icon-wip:hover::before,
.icon-wip:hover::after
{
  opacity: 1;
}

/* PROJECTS */

.projects__section {
  margin-left: 120px;
  border-left: 5px solid var(--text-color);
}

.projects__container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.projects__container::before {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--text-color);
  z-index: -1;
}

.projects__description {
  padding-left: 30px;
  flex: 0 0 55%;
}

.projects__header {
  margin-bottom: 0;
  pointer-events: none;
  font-size: 150px;
}

.projects__desc {
  margin-top: 15px;
  padding: 5px;
  width: fit-content;
  color: var(--secondary-color);
  background-color: var(--text-color);
  pointer-events: none;
  font-size: 30px;
}

.projects__list {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 50px;
}

.projects__project-link {
  display: flex;
  row-gap: 15px;
  column-gap: 15px;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: var(--secondary-color);
}

.projects__project-name {
  display: flex;
  flex: 1 1 30%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 300;
}

.projects__project-site-name {
  font-size: 40px;
}

.projects__projects-pic {
  width: 70%;
  object-fit: contain;
  filter: grayscale(100%) brightness(0.9) contrast(0.8);
  transition: 1s;
}

.projects__project-link:hover > .projects__projects-pic {
  filter: none;
  transform: scale(1.05);
}

/* FOOTER */

.footer {
  background-color: var(--text-color);
  color: var(--main-color);
  font-size: 15px;
  font-weight: 700;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-text {
  pointer-events: none;
}

.footer__social-link {
  padding: 10px;
  color: var(--text-color);
  background-color: var(--main-color);
  border-radius: 100px;
  transition: .4s;
}

.footer__social-link:hover {
  box-shadow: 0 0 10px 1px var(--secondary-color);
  text-shadow: 0 0 1px var(--secondary-color);
}

/* ADAPTABLES */

@media (max-width: 1600px) {
  .projects__header {
    font-size: 120px;
  }
}

@media (max-width: 1400px) {
  .about__main-image {
    width: 40%;
  }

  .projects__container {
    flex-direction: column;
  }

  .projects__container::before {
    content: none;
  }

  .projects__project {
    flex: 1 1 40%;
  }
}

@media (max-width: 1000px) {
  .about__top {
    padding: 40px;
    align-items: center;
    text-align: center;
  }

  .about__main-info {
    flex: 0 0 100%;
    align-items: center;
  }

  .about__main-image {
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 40px 20px;
  }

  .projects__project {
    flex: 1 1 100%;
  }

  .footer__copyright-text {
    padding-right: 40px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 20px 10px;
  }

  .section-header {
    font-size: 40px;
  }

  .header {
    font-size: 20px;
  }

  .about__nickname {
    font-size: 25px;
  }

  .about__name {
    font-size: 40px;
  }

  .about__spec {
    font-size: 25px;
  }

  .about__header {
    font-size: 20px;
  }

  .about__about-text {
    font-size: 14px;
  }

  .icon-no-mobile,
  .icon-wip
  {
    width: 25px;
    height: 25px;
  }

  .icon-no-mobile::before,
  .icon-no-mobile::after,
  .icon-wip::before,
  .icon-wip::after
  {
    content: none;
  }

  .projects__section {
    margin-left: 20px;
  }

  .projects__desc {
    font-size: 12px;
  }

  .projects__project-name {
    font-size: 14px;
  }

  .projects__project-site-name {
    font-size: 20px;
  }

  .projects__project-link:hover > .projects__projects-pic {
    transform: none;
  }

  .projects__project-link:active > .projects__projects-pic {
    filter: none;
    transform: none;
  }
}
