:root {
  --base-text-color: #333;
  --base-orange: #f90;
  --swiper-theme-color: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
}

.container {
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}

.section-header {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--base-text-color);
}

.button {
  padding: 20px 38px;
  color: white;
  border: none;
  text-align: center;
  background-color: var(--base-orange);
  cursor: pointer;
  transition: background 0.4s ease;
}

.button:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.button:active {
  background-color: #E1670E;
}

.link {
  padding: 20px 38px;
  border: 3px solid var(--base-orange);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: background 0.4s ease;
}

.link:hover {
  background-color: var(--base-orange);
}

.link:active {
  background-color: #E1670E;
}

.gray-text {
  color: #ccc;
}

/* SWIPER */

.swiper-container {
  max-width: 90%;
  max-height: fit-content;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next
{
  color: #666;
  transition: color 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover
{
  color: var(--base-orange);
}

.swiper-button-prev:active,
.swiper-button-next:active
{
  color: #E1670E;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px !important;
  transition: border 0.4s ease-in-out;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  border: 1px solid white;
}

/* HEADER */

.header {
  height: 99px;
  box-shadow: 0 5px 40px rgba(0,0,0,0.1);
}

.header__logo {
  margin-right: auto;
}

.header__logo-img {
  transition: 0.3s;
}

.header__logo-img:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .4))
}

.header__container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav-cross {
  display: none;
  width: 23px;
  height: 23px;
  background-image: url("/img/Cross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.header__nav-cross:hover {
  background-image: url("/img/Cross2.svg");
}

.header__nav-cross:active {
  background-image: url("/img/Cross3.svg");
}

.header__nav-list {
  height: 100%;
  margin-top: 1.5px;
  margin-right: -12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.header__nav-list-item {
  margin-right: 85px;
}

.header__nav-list-link {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--base-text-color);
  border-bottom: 2px solid transparent;
  transition: border 0.4s linear;
}

.header__nav-list-link:hover {
  border-bottom: 2px solid var(--base-orange);
}

.header__nav-list-link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.header__burger-button {
  display: none;
  width: 30px;
  height: 23px;
  background-image: url("/img/Burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.header__burger-button:hover {
  background-image: url("/img/Burger2.svg");
}

.header__burger-button:active {
  background-image: url("/img/Burger3.svg");
}

.header__search-icon {
  margin-right: 12px;
  width: 25px;
  height: 25px;
  background-image: url("/img/Search.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.header__search-icon:hover {
  background-image: url("/img/Search2.svg");
}

.header__search-icon:active {
  background-image: url("/img/Search3.svg");
}

/* INFO */

.info {
  max-height: fit-content;
  position: relative;
  overflow: hidden;
}

.info__picture-background {
  position: relative;
  height: 620px;
}

.info__slide-1 {
  background-image: url("/img/info-section-photo-1.jpg");
}

.info__slide-2 {
  background-image: url("/img/info-section-photo-2.jpg");
}

.info__slide-3 {
  background-image: url("/img/info-section-photo-3.jpg");
}

.info__picture {
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.info__text-block {
  position: absolute;
  width: 55%;
  top: 15%;
  bottom: 84%;
  left: 15%;
  z-index: 2;
}

.info__header {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 3px;
  font-size: 70px;
  line-height: 86px;
  font-weight: 800;
  color: white;
  pointer-events: none;
}

.info__text {
  margin-top: 0;
  padding: 3px;
  font-size: 23px;
  line-height: 29px;
  font-weight: 700;
  color: white;
  pointer-events: none;
}

.info__button {
  padding: 26px 37px;
  display: block;
  margin-top: 93px;
  margin-left: 5px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

/* ABOUT */

.about {
  margin-top: 100px;
}

.about__header {
  padding: 1px;
  margin-bottom: 0;
}

.about__text {
  margin-top: 20px;
  width: 69.5%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: var(--base-text-color);
}

.about__i-tooltip {
  display: inline-block;
  width: 21px;
  height: 16px;
  background-image: url("/img/i-letter.svg");
  background-repeat: no-repeat;
  background-position: right;
  transform: translateY(3px);
}

.about__blocks {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
}

.about__main-block {
  margin-right: 15px;
  position: relative;
  flex: 1 1 870px;
  background-image: url("/img/about-section-worker.jpg");
  background-size: cover;
  background-position: center;
}

.about__main-block-info {
  height: 28.5%;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}

.about__main-block-text {
  max-width: 57%;
  margin-left: 53px;
  color: white;
}

.about__main-block-link {
  margin-right: 68px;
}

.about__blocks-list {
  margin-left: 15px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;
  flex: 1 1 870px;
}

.about__block {
  display: flex;
  margin-bottom: 30px;
  flex: 1 1 295px;
  border: 1px solid #cacaca;
  justify-content: space-between;
  align-items: center;
}

.about__block-picture {
  height: fit-content;
  margin-left: 61px;
  margin-bottom: 27px;
  margin-right: 30px;
}

.about__block-info {
  max-width: 65%;
  margin-right: 110px;
  margin-left: 30px;
}

.about__block-header {
  margin-bottom: 7px;
  color: var(--base-text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.about__block-text {
  margin-top: 0;
  color: var(--base-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

/* WORK */

.work {
  margin-top: 100px;
}

.work__header {
  margin-top: 0;
  margin-bottom: 50px;
}

.work__steps {
  display: flex;
}

.work__step {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--base-text-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: color 0.3s ease;
}

.work__steps-item:not(:first-child) {
  margin-left: 88px;
}

.active-step {
  color: var(--base-orange);
}

.work__step:hover {
  color: var(--base-orange);
}

.work__step:active {
  color: #E1670E;
}

.work__page {
  display: none;
  height: max-content;
  margin-top: 44px;
  transition: 1s;
  justify-content: space-between;
}

.active-page {
  display: flex;
}

.work__page-main {
  max-width: 50%;
  margin-right: 25px;
  flex: 1 1 50%;
}

.work__page-header {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--base-text-color);
}

.work__page-text {
  max-width: 90%;
  margin-left: 1px;
  margin-top: 3px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: var(--base-text-color);
}

.work__page-buttons {
  margin-top: 81px;
  margin-left: 1px;
  margin-bottom: 0;
}

.work__contract-button {
  margin-left: 28px;
  padding: 19px 38px;
  border: 1px solid var(--base-text-color);
  text-align: center;
  background-color: transparent;
  transition-property: color background;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  cursor: pointer;
}

.work__contract-button:hover {
  color: white;
  background-color: #666;
}

.work__contract-button:active {
  background-color: black;
}

.work__page-picture {
  margin-left: 25px;
  max-width: 50%;
  margin-top: 10px;
  object-fit: cover;
  object-position: center;
  transform: translateX(2px);
}

/* QUESTIONS */

.questions {
  margin-top: 102px;
}

.questions__header {
  margin-bottom: 37px;
}

.questions__q-card {
  display: flex;
  margin-left: 4px;
  margin-right: 2px;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.questions__q-list {
  border-bottom: 1px solid #cacaca;
}

.questions__text {
  height: none !important;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 2;
  border-bottom: 1px solid #cacaca;
  color: var(--base-text-color);
}

.questions__q-card:hover,
.questions__q-card:hover + .questions__text {
  border-color: var(--base-orange);
}

.questions__q-card:hover + .questions__text + .questions__q-card {
  border-top: 1px solid transparent;
}

.questions__q-card:hover * {
  color: var(--base-orange);
}

.questions__question {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--base-text-color);
  transition: .3s;
}

.questions__question:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

.questions__plus-button {
  display: inline-block;
  transition: transform 0.3s ease;
}

.questions__text p {
  margin: 0;
}

/* ACCORDION */

.ui-accordion-header-active,
.ui-accordion-header-active:hover
{
  border-bottom: 1px solid transparent;
}

.ui-accordion-header-active .questions__plus-button {
  transform: rotate(90deg);
}

/* FOOTER */

.footer {
  margin-top: 96px;
  height: 645px;
  background-color: #222;
  color: #cacaca;
}

.footer__logo-img {
  transition: 0.3s;
}

.footer__logo-img:hover {
  filter: drop-shadow(0 0 5px rgba(250, 250, 250, .3))
}

.footer__container {
  display: flex;
  padding-top: 48px;
  justify-content: space-between;
}

.footer__nav-col {
  margin-right: 55px;
}

.footer__nav {
  margin-top: 8px;
}

.footer__nav-link {
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  color: #cacaca;
  transition: 0.3s;
}

.footer__nav-link:hover {
  filter: drop-shadow(0 0 2px rgba(250,250,250,.5));
}

.footer__socials {
  margin-top: 105px;
  max-width: 230px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}

.footer__social-icon {
  transition: 0.3s ease;
}

.footer__social-icon:hover {
  filter: drop-shadow(0 0 3px rgba(250,250,250,.5));
}

.footer__form-col {
  flex: 0 0 600px;
  margin-top: 10px;
  margin-left: 55px;
  margin-right: 80px;
}

.footer__form {
  width: 100%;
}

.footer__form-header {
  margin-top: 0;
  margin-bottom: 22px;
  color: #cacaca;
}

.footer__form-input {
  margin-bottom: 25px;
  padding: 14px 24px;
  height: 60px;
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 2;
  color: #cacaca;
  background-color: #414141;
}

.footer__form-large-input {
  height: 150px;
  resize: none;
}

.footer__form-last-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__form-button {
  margin-right: 20px;
  padding-left: 52px;
  padding-right: 52px;
  font-weight: 700;
}

.footer__form-personal {
  display: inline-block;
  transition: 0.3s;
}

.footer__form-personal:hover {
  filter: drop-shadow(0 0 2px rgba(250, 250, 250, .3))
}

.footer__form-checkbox {
  opacity: 0;
  width: 0;
}

.footer__form-checkbox:focus + .check {
  outline: white auto 3px;
}

.footer__label-text {
  display: inline-block;
  align-self: center;
  font-size: 16px;
  transform: translateY(-3px);
}

.footer__text {
  margin-top: 80px;
  max-width: 363px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

/* CHECKBOX */

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
#checkbox:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#checkbox:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

/* ADAPTABLES */

@media (min-width: 2000px) {
  .header__nav-list {
    margin-right: auto;
  }

  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 1523px) {
  .footer__text-col {
    display: none;
  }

  .footer__form-col {
    margin-right: 0;
  }

  .about__blocks {
    flex-direction: column;
  }

  .about__main-block {
    margin-right: 0;
    margin-bottom: 48px;
  }

  .about__blocks-list {
    margin-left: 0;
    max-height: 670px;
  }

  .about__block {
    margin-bottom: 40px;
  }

  .about__block-info {
    max-width: 50%;
    margin-right: 113px;
  }

  .about__block-header {
    margin-top: 17px;
    margin-bottom: 5px;
  }

  .about__block-picture {
    margin-left: 113px;
    margin-top: 17px;
    margin-right: 25px;
  }

  .info__text-block {
    width: 75%;
  }

  .info__picture {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .header__burger-button {
    display: block;
  }

  .header__nav-list {
    width: 420px;
    height: 720px;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 40px 50px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px;
  }

  .header__nav {
    width: 100%;
    justify-content: space-between;
  }

  .header__nav-list-link {
    font-size: 24px;
    font-weight: 700;
  }

  .header__nav-cross {
    display: block;
    align-self: flex-start;
  }

  .header__logo {
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
  }

  .header__logo-img {
    max-width: 150px;
  }

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__search-icon {
    margin-right: -1px;
    margin-top: 3px;
  }

  .info__picture {
    height: 100%;
  }

  .info__header {
    max-width: none;
    margin-bottom: 5px;
    font-size: 60px;
    line-height: 73px;
  }

  .info__text-block {
    width: 70%;
  }

  .info__text {
    font-size: 20px;
    line-height: 24px;
  }

  .info__button {
    margin-top: 108px;
    margin-bottom: 23px;
  }

  .about {
    margin-top: 58px;
  }

  .about__header {
    margin-left: -2px;
    padding: 0;
  }

  .about__text {
    margin-top: 25px;
    width: 100%;
  }

  .about__main-block {
    margin-top: 17px;
    max-height: 640px;
  }

  .about__main-block-info {
    max-height: 27%;
  }

  .about__main-block-text {
    max-width: 55%;
    margin-left: 44px;
    margin-top: 15px;
  }

  .about__main-block-link {
    margin-right: 47px;
  }

  .work {
    margin-top: 48px;
  }

  .work__header {
    margin-left: -5px;
    margin-bottom: 48px;
  }

  .work__page-main {
    min-width: 52.5%;
    margin-right: 0;
  }

  .work__page-picture {
    margin-left: 0;
    max-width: 48%;
  }

  .work__page-buttons {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .questions {
    margin-top: 56px;
  }

  .questions__header {
    margin-left: -1px;
  }

  .questions__q-card {
    margin-left: 0;
    margin-right: 0;
  }

  .questions__question {
    font-size: 20px;
    line-height: 32px;
  }

  .footer {
    margin-top: 50px;
  }

  .footer__nav-col {
    width: 32%;
  }

  .footer__form-col {
    flex: 1 1 570px;
  }

  .footer__form-button {
    padding-left: 33px;
    padding-right: 33px;
    margin-right: 4px;
  }

  .header__nav-active {
    opacity: 1;
    z-index: 5;
    visibility: visible;
  }
}

@media (max-width: 1000px) {
  .info__text-block {
    width: 70%;
  }

  .info__picture {
    height: 100%;
  }

  .about__block {
    max-height: 235px;
  }

  .about__blocks-list {
    flex: 0 0 100%;
  }

  .about__block-picture {
    max-width: 115px;
    margin-left: 32px;
    margin-top: 26px;
    margin-right: 15px;
  }

  .about__block-info {
    max-width: none;
    margin-right: 0;
    margin-left: 15px;
  }

  .about__block-text {
    max-width: 90%;
  }

  .footer {
    height: fit-content;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .footer__form-col {
    margin-left: -2px;
    margin-top: 15px;
    max-width: 534px;
  }

  .footer__nav-col {
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-top: 61px;
  }

  .footer__socials {
    max-width: 230px;
    margin-top: 13px;
    margin-bottom: 50px;
  }

  .footer__social-list {
    width: 230px;
  }

  .header__nav-active {
    transform: none;
  }
}

@media (max-width: 800px) {
  .header {
    height: 68px;
  }

  .header__nav-list {
    width: 300px;
    padding-top: 20px;
  }

  .swiper-container {
    max-width: 100%;
    max-height: 650px;
    margin-right: 0;
  }

  .info__picture {
    height: 100%;
  }

  .info__text-block {
    width: 93%;
    left: 5%;
  }

  .about__main-block-info {
    max-height: none;
    height: 26%;
  }

  .about__main-block-text {
    margin-left: 28px;
    margin-top: 27px;
    max-width: 60%;
    line-height: 31px;
  }

  .about__main-block-link {
    margin-right: 27px;
    margin-top: 17px;
  }

  .work__steps {
    justify-content: space-between;
  }

  .work__steps-item:not(:first-child) {
    margin-left: auto;
  }

  .work__steps-item:first-child {
    margin-left: 0;
  }

  .work__page {
    margin-left: -1px;
    flex-direction: column-reverse;
  }

  .work__page-picture {
    max-width: none;
    max-height: 284px;
    margin-top: 0;
  }

  .work__page-main {
    max-width: none;
    margin-top: 40px;
  }

  .work__page-text {
    max-width: none;
  }

  .questions {
    margin-top: 60px;
  }

  .questions__header {
    margin-right: -25px;
  }

  .header__nav-active {
    transform: none;
  }
}

@media (max-width: 700px) {
  .footer__form-last-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__form-button {
    margin-bottom: 10px;
  }

  .footer__nav-col {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 30px;
    align-items: center;
    border-top: 1px solid #595959;
  }

  .header__search-icon {
    display: none;
  }

  .header__container {
    flex-direction: row-reverse;
  }

  .header__logo {
    margin-left: 50px;
  }

  .header__nav-list {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 665px;
    right: 0;
    left: auto;
    padding: 10px 10px;
  }

  .header__nav {
    flex-direction: row-reverse;
  }

  .header__nav-cross {
    margin-right: 40px;
    margin-top: 10px;
    margin-left: auto;
  }

  .info__text-block {
    width: 90%;
    top: 10%;
    text-align: center;
  }

  .info__button {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .info__picture {
    height: 100%;
    object-position: center;
  }

  .about__main-block {
    position: relative;
    margin-bottom: 250px;
    height: 100%;
    max-height: 400px;
    flex: 0 0 250px;
  }

  .about__main-block-info {
    max-width: 90%;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
  }

  .about__main-block-text {
    max-width: none;
    margin-left: 0;
    color: var(--base-text-color);
  }

  .about__main-block-link {
    color: var(--base-orange);
  }

  .about__blocks-list {
    margin-bottom: 0;
    max-height: none;
  }

  .about__block {
    max-height: none;
    flex-direction: column;
    align-items: flex-start;
    border: none;
  }

  .questions__question {
    font-weight: 500;
  }

  .header__nav-active {
    transform: none;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .link {
    padding: 11px 35px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    border-width: 2px;
  }

  .button {
    padding: 12px 25px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }

  .work__contract-button {
    flex: 0 0 118px;
    max-width: 118px;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
  }

  .section-header {
    font-size: 24px;
    line-height: 29px;
  }

  .header {
    height: 45px;
  }

  .header__logo {
    margin-left: 15px;
  }

  .header__logo-img {
    max-width: 97px;
  }

  .header__burger-button {
    height: 19px;
  }

  .header__nav-cross {
    width: 19px;
    height: 19px;
    margin-right: 10px;
    margin-top: 0;
    padding: 0;
  }

  .header__nav-list {
    width: 200px;
    height: 350px;
  }

  .header__nav-list-item {
    margin-left: auto;
    margin-right: auto;
  }

  .header__nav-list-link {
    font-size: 16px;
  }

  .swiper-container {
    margin-right: 15px;
    margin-left: 15px;
    align-self: center;
    height: 300px;
    width: calc(100% - 30px);
  }

  .info__text-block {
    width: 70%;
    left: 15%;
  }

  .info__header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .info__text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }

  .info__button {
    margin-top: 19px;
  }

  .swiper-button-prev,
  .swiper-button-next
  {
    transform: scale(0.7);
  }

  .info__picture {
    background-position: 30% 60%;
  }

  .about {
    margin-top: 39px;
  }

  .about__header {
    margin-left: 0;
  }

  .about__text {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 14px;
  }

  .about__blocks {
    margin-top: 0;
  }

  .about__main-block {
    margin-top: 11px;
    max-height: 200px;
  }

  .about__main-block-text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .about__main-block-link {
    margin-top: 0;
  }

  .about__block {
    margin-bottom: 0;
    height: fit-content;
  }

  .about__block-picture {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 65px;
  }

  .about__block-info {
    margin-left: 0;
    margin-top: 0;
  }

  .about__block-header {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .about__block-text {
    margin-bottom: 20px;
    max-width: none;
    font-size: 14px;
  }

  .work {
    margin-top: 30px;
  }

  .work__header {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .work__step {
    font-size: 14px;
  }

  .work__page {
    margin-top: 15px;
    margin-left: 0;
  }

  .work__page-main {
    margin-top: 11px;
  }

  .work__page-header {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .work__page-text {
    margin-left: 0;
    margin-top: 0;
    font-size: 14px;
  }

  .work__page-buttons {
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .work__more-button {
    flex: 1 1 150px;
  }

  .questions {
    margin-top: 0;
  }

  .questions__header {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 13px;
  }

  .questions__question {
    font-size: 14px;
    line-height: 24px;
  }

  .questions__plus-button {
    width: 30px;
    height: 30px;
  }

  .questions__text {
    font-size: 10px;
  }

  .footer {
    margin-top: 35px;
  }

  .footer__container {
    padding-top: 15px;
  }

  .footer__form-col {
    margin-left: 0;
    margin-top: 25px;
    flex: 1 1 100px;
  }

  .footer__form-input {
    font-size: 14px;
  }

  .footer__nav-col {
    margin-top: 37px;
    padding-top: 23px;
  }

  .footer__logo-img {
    margin-right: 0;
    max-width: 131px;
  }

  .footer__socials {
    width: 132px;
  }

  .footer__social-list {
    width: 100%;
  }

  .footer__social-icon {
    width: 35px;
    height: 35px;
  }

  .header__nav-active {
    transform: none;
  }
}
