/* WRAPPER */

.wrapper {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: #eee;
  z-index: 2;
}

.wrapper-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper-left {
  margin: auto;
  color: red;
}

.wrapper-right {
  margin: auto;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.header {
  margin-top: 50px;
}
