:root {
  --color-text: #333;
  --color-text-gray: #999;
  --color-violet: #9D5CD0;
  --color-violet-hover: #c283f3;
  --color-violet-dark: #7943A4;
  --color-violet-light: #D1A9F0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: 'Open Sans';
  color: var(--color-text);
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

.button {
  cursor: pointer;
  outline: none;
}

.section-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header__higher-row {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header__burger-button {
  display: none;
  padding: 5px;
  width: 50px;
  height: 50px;
  padding: 0;
  position: absolute;
  top: 13px;
  left: 150px;
  z-index: 6;
  background-color: transparent;
  border: none;
  transition: .3s;
}

.header__burger-cross {
  top: 25px;
}

.header__burger-icon {
  width: 36px;
  height: 3px;
  position: relative;
  background-color: white;
  transition: .3s;
}

.header__burger-icon::before {
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 12px;
  background-color: white;
  transition: .3s;
}

.header__burger-icon::after {
  content: '';
  display: block;
  width: 70%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 24px;
  background-color: white;
  transition: .3s;
}

.header__burger-cross > .header__burger-icon {
  transform: rotate(45deg);
}

.header__burger-cross > .header__burger-icon::after {
  width: 100%;
  transform: rotate(90deg) translateX(-24px);
}

.header__burger-cross > .header__burger-icon::before {
  width: 0;
  opacity: 0;
  transform: rotate(360deg);
}

.header__logo {
  margin-right: 10px;
  outline-offset: 3px;
}

.header__logo:focus {
  outline: 2px solid var(--color-violet-dark);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 170px;
  transition: .4s;
}

.header__nav-visible {
  opacity: 1 !important;
  pointer-events: initial !important;
}

.header__nav-list {
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  margin-right: 63px;
}

.header__nav-link {
  color: white;
  outline-offset: 2px;
  font-size: 18px;
  font-weight: 600;
  transition: color .3s;
}

.header__nav-link:focus {
  outline: 2px solid var(--color-violet-dark);
}

.header__nav-link:hover {
  color: var(--color-violet-hover);
}

.header__nav-link:active {
  color: var(--color-violet-dark);
}

.header__login-button {
  display: flex;
  padding: 2px 8px;
  padding-right: 0;
  padding-top: 0;
  border: none;
  color: white;
  font-size: 18px;
  background-color: transparent;
  flex-wrap: nowrap;
  align-items: center;
  transition-property: color, border-color;
  transition-duration: .3s;
}

.header__login-button:focus {
  outline: 2px solid var(--color-violet-dark);
}

.header__login-button:hover {
  color: var(--color-violet-hover);
}

.header__login-button:active {
  color: var(--color-violet);
}

.header__login-button-icon {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 2px;
  transition: .3s;
  transform: scale(0.75);
}

.header__login-button-icon::before {
  content: '';
  display: block;
  top: 50%;
  right: 0;
  width: 4px;
  height: 4px;
  position: absolute;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg) translateY(-1px) translateX(-4px);
  z-index: 2;
  transition: .3s;
}

.header__login-button-icon::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
  transform: translateX(-3px) translateY(-3.5px);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 1;
  transition: .3s;
}

.header__login-button:hover > .header__login-button-icon,
.header__login-button:hover > .header__login-button-icon::before
{
  border-color: var(--color-violet-hover);
}

.header__login-button:hover > .header__login-button-icon::after {
  width: 15px;
  background-color: var(--color-violet-hover);
}

.header__login-button:active > .header__login-button-icon,
.header__login-button:active > .header__login-button-icon::before
{
  border-color: var(--color-violet);
}

.header__login-button:active > .header__login-button-icon::after {
  width: 15px;
  background-color: var(--color-violet);
}

.header__lower-row {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.header__dropdown-menu {
  margin-left: -1px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__dropdown-item {
  margin-right: 95px;
  padding-right: 18px;
  position: relative;
  outline-offset: 2px;
  cursor: pointer;
}

.header__dropdown-item:focus {
  outline: 2px solid var(--color-violet-dark);
}

.header__dropdown-menu-name {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 18px;
  transition: .4s;
}

.header__dropdown-menu-name::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -11px;
  bottom: 6px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform-origin: center;
  transform: rotate(45deg);
  transition: .4s;
}

.header__dropdown-item:hover > .header__dropdown-menu-name {
  color: var(--color-violet);
}

.header__dropdown-item:hover > .header__dropdown-menu-name::after {
  border-color: var(--color-violet);
}

.header__dropdown-item:active > .header__dropdown-menu-name {
  color: var(--color-violet-dark);
}

.header__dropdown-item:active > .header__dropdown-menu-name::after {
  border-color: var(--color-violet-dark);
}

.header__dropdown-list {
  position: absolute;
  top: 44px;
  left: -3px;
  padding: 40px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: initial;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .4s;
}

.simplebar-scrollbar::before {
  top: 0 !important;
  bottom: 0 !important;
  left: 0;
  right: 0;
  max-height: 28px;
  background-color: white;
  border-radius: 0;
}

.simplebar-vertical {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: black;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
}

.simplebar-vertical .simplebar-scrollbar {
  height: 100% !important;
}

.header__dropdown-list-item {
  margin-bottom: 20px;
  height: 40px;
}

.header__dropdown-list-link {
  position: relative;
  display: block;
  height: 100%;
  transition: .3s;
  outline-offset: 0;
  outline: 2px solid transparent;
  background-color: var(--color-violet-hover);
}

.header__dropdown-list-link:focus {
  outline: 2px solid var(--color-violet-light);
}

.header__dropdown-list-link:hover {
  outline-color: var(--color-violet);
}

.header__dropdown-list-link:active {
  outline-color: var(--color-violet-light);
}

.header__dropdown-list-link:active > .header__dropdown-list-item-background {
  filter: opacity(0.4);
}

.header__dropdown-list-item-background {
  width: 100%;
  outline: none;
  transition: .3s;
}

.header__dropdown-list-link-desc {
  position: absolute;
  left: 10px;
  top: 25%;
  font-size: 14px;
  font-weight: 600;
  color: white;
  outline: none;
}

.header__dropdown-visible > .header__dropdown-list {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.header__dropdown-visible > .header__dropdown-menu-name {
  color: var(--color-violet);
}

.header__dropdown-visible > .header__dropdown-menu-name::after {
  bottom: 3px;
  border-color: var(--color-violet);
  transform: rotate(-135deg);
}

.header__search {
  width: 222px;
  height: 30px;
  position: relative;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .85);
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 18px;
  outline-offset: 5px;
  transition: .4s;
}

.header__search:focus {
  outline: 2px solid var(--color-violet-dark);
}

.header__search-field {
  display: flex;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.header__search-close {
  display: none;
  width: 38px;
  height: 4px;
  padding: 0;
  position: absolute;
  right: 40px;
  background-color: transparent;
  border: none;
}

.header__search-close::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(45deg);
}

.header__search-close::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(-45deg);
}

.header__search-field:hover > .header__search,
.header__search-field:hover > .header__search-icon::before,
.header__search:focus + .header__search-icon::before
{
  border-color: var(--color-violet-hover);
}

.header__search-field:hover > .header__search-icon::after,
.header__search:focus + .header__search-icon::after
{
  background-color: var(--color-violet-hover);
}

.header__search-icon {
  margin-right: 10px;
  position: absolute;
  left: 12px;
  top: 15px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline-offset: 5px;
  transform: scale(0.9);
  transition: .4s;
}

.header__search-icon:focus {
  outline: 2px solid var(--color-violet-dark);
}

.header__search-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px solid white;
  transition: .4s;
}

.header__search-icon::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 6px;
  background-color: white;
  transform: rotate(45deg);
  transition: .4s;
}

.header__search::placeholder {
  color: white;
}

/* HERO */

.hero {
  height: 800px;
  overflow: hidden;
}

.hero__text-block {
  width: 46%;
  position: absolute;
  left: 0;
  top: 170px;
  color: white;
}

.hero__text-header {
  margin-top: 70px;
  margin-left: -5px;
  margin-bottom: 10px;
  font-size: 72px;
  line-height: 83px;
  font-weight: 700;
  pointer-events: none;
}

.hero__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  pointer-events: none;
}

.hero__subscribe-button {
  position: relative;
  margin-top: 74px;
  padding: 22px 33px;
  border: 3px solid transparent;
  background-color: var(--color-violet);
  color: white;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  transition: .3s;
}

.hero__subscribe-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  border-radius: 100px;
  border: 6px solid transparent;
  opacity: 0;
  transition: .3s;
  box-shadow: 0 0 0 2px var(--color-violet-hover);
}

.hero__subscribe-button:focus::after {
  opacity: 1;
}

.hero__subscribe-button:hover {
  border-color: var(--color-violet-light);
}

.hero__subscribe-button:active {
  background-color: var(--color-violet-dark);
}

.hero__swiper {
  z-index: -1;
}

.hero__swiper-slide {
  overflow: hidden;
}

@keyframes hero__img-anim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.hero__swiper-img {
  width: 100%;
  height: 800px;
  animation: hero__img-anim 3s alternate ease-in-out infinite;
}

/* ABOUT */

.about__container {
  padding-top: 80px;
  padding-bottom: 71px;
  cursor: default;
}

.about__header {
  margin-left: -2px;
  margin-bottom: 0;
}

.about__text {
  margin-bottom: 0;
  margin-top: 16px;
  padding-right: 32.5%;
  font-size: 16px;
  line-height: 2;
}

/* GALLERY */

.gallery {
  height: 995px;
  background-image: url("/blanchard/img/gallery-background.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
}

.gallery__container {
  display: flex;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  cursor: default;
}

.gallery__header {
  margin-left: -2px;
  color: white;
}

.gallery__filters-column {
  margin-right: 50px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__filters-top {
  display: flex;
  flex-direction: column;
}

.gallery__filters-text {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
}

.choices {
  outline-offset: 3px;
  font-size: 16px;
}

.choices:focus {
  outline: 2px solid var(--color-violet-dark);
}

.choices__inner,
.choices__list
{
  background-color: transparent;
  border-radius: 6px;
  font-size: 16px;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__placeholder {
  color: white;
  opacity: 1;
}

.choices__item--choice {
  color: #999;
  font-size: 16px;
}

.choices__list--dropdown .choices__item {
  padding-left: 20px;
  font-size: 16px;
}

.choices__item.is-selected {
  display: none;
  pointer-events: none;
}

.choices__list--dropdown {
  transition: .3s;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

.choices[data-type*=select-one]:after {
  width: 6px;
  height: 6px;
  top: 21px;
  right: 16px;
  border: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  transform-origin: center center;
  transform: rotate(-45deg);
  transition: .3s;
}

.choices[data-type*=select-one].is-open:after {
  border-color: initial;
  top: 27px;
  transform: rotate(135deg);
}

.gallery__copyright-text {
  margin-bottom: -10px;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
}

.gallery__login-link {
  color: var(--color-violet);
  border-bottom: 1px solid transparent;
  transition: .3s;
}

.gallery__login-link:focus {
  outline: 2px solid var(--color-violet-dark);
}

.gallery__login-link:hover {
  border-bottom: 1px solid var(--color-violet);
}

.gallery__login-link:active {
  color: var(--color-violet-dark);
}

.gallery__swiper-column {
  padding-top: 83px;
  width: 73%;
  position: relative;
  z-index: 0;
}

.gallery__swiper {
  padding-left: 3px;
}

.gallery__swiper-pagination {
  display: inline-block;
  bottom: initial;
  pointer-events: none;
  font-size: 16px;
  line-height: 2;
}

.gallery__swiper-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 23px;
  left: -2px;
  width: 150px;
  height: 30px;
}

.gallery__swiper-button-prev,
.gallery__swiper-button-next
{
  display: inline-block;
  position: relative;
  margin-top: 0;
  top: initial;
  height: 30px;
  width: 30px;
  background-color: #666;
  border-radius: 100px;
  outline: none;
  transition: .3s;
}

.gallery__swiper-button-prev::after,
.gallery__swiper-button-next::after
{
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 7px;
  height: 7px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.gallery__swiper-button-prev::after {
  transform: rotate(-45deg) translate(1px, -4px);
}

.gallery__swiper-button-next::after {
  transform: rotate(135deg) translate(1px, 6px);
}

.gallery__swiper-button-prev:focus,
.gallery__swiper-button-next:focus
{
  box-shadow: inset 0 0 0 2px var(--color-violet-dark);
}

.gallery__swiper-button-prev:hover,
.gallery__swiper-button-next:hover
{
  background-color: var(--color-violet);
}

.gallery__swiper-button-prev:active,
.gallery__swiper-button-next:active
{
  box-shadow: inset 0 0 0 2px var(--color-violet-light);
  background-color: var(--color-violet-dark);
}

.gallery__swiper-slide {
  position: relative;
  max-height: 350px;
  cursor: pointer;
  transition: .3s;
}

.gallery__swiper-slide:focus {
  outline: 3px solid var(--color-violet-dark);
}

.gallery__swiper-slide::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-image: url("/blanchard/img/gallery-hover.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  opacity: 0;
  transition: .3s;
  z-index: 1;
}

.gallery__swiper-slide:hover::before {
  opacity: 1;
}

.gallery__swiper-slide::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s;
  background-color: #C283F366;
}

.gallery__swiper-slide:active::after {
  opacity: 1;
}

.gallery__swiper-img {
  width: 100%;
  height: 100%;
}

/* CATALOGUE */

.catalogue__header-row {
  margin-top: 80px;
  display: flex;
}

.catalogue__header {
  margin-left: -2px;
  margin-right: 2px;
}

.catalogue__countries {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.catalogue__country-item {
  position: relative;
  height: 46px;
  width: 46px;
  margin-right: 50px;
  outline: none;
  outline-offset: 3px;
}

.catalogue__country-item:focus {
  outline: 2px solid var(--color-violet-dark);
}

.catalogue__country-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  pointer-events: none;
  opacity: 0;
  box-shadow: inset 0 0 0 2px var(--color-violet-dark);
}

.catalogue__country-item:active::after {
  opacity: 1;
}

.catalogue__country-button {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;
  cursor: pointer;
  border-radius: 100px;
  transition: .3s;
}

.catalogue__country-button:hover {
  box-shadow: 0 0 10px var(--color-violet);
}

.catalogue__country-button:active {
  box-shadow: none;
}

.catalogue__country-button-border {
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 100px;
  border: 28px solid transparent;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  box-shadow: 0 0 0 2px var(--color-violet);
}

.catalogue__country-button-active {
  pointer-events: none;
}

.catalogue__country-button-active + .catalogue__country-button-border {
  opacity: 1;
}

.catalogue__header-text {
  margin-bottom: 39px;
  margin-top: 15px;
  width: 69%;
  display: block;
  font-size: 16px;
  line-height: 2;
}

.catalogue__main-row {
  height: 1200px;
  display: flex;
  justify-content: space-between;
}

.catalogue__artist-page-place {
  width: 49.5%;
  position: relative;
}

.catalogue__artist-page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}

.catalogue__artist-page-active {
  opacity: 1;
  pointer-events: initial;
}

.catalogue__artist-img {
  width: 95%;
}

.catalogue__artist-name {
  margin-top: 25px;
  margin-bottom: 0;
  max-width: 70%;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.catalogue__artist-dates {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-gray);
}

.catalogue__atrist-text {
  margin-top: 5px;
  width: 95%;
  font-size: 16px;
  line-height: 2;
}

.catalogue__accordion {
  position: relative;
  width: 50%;
}

.catalogue__accordion-country {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}

.catalogue__accordion-active {
  opacity: 1;
  pointer-events: initial;
}

.catalogue__accordion-cat {
  margin: 0 !important;
  padding: 40px 0 !important;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  outline-offset: 5px;
  font-size: 24px !important;
  line-height: 32px;
  font-weight: 600;
  transition: .3s;
  transition-property: color, border-color;
}

.catalogue__accordion-cat:focus {
  outline: 2px solid var(--color-violet-dark);
}

.catalogue__accordion-cat::before {
  content: '';
  position: absolute;
  right: 0;
  top: 31px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 100px;
  transition: .3s;
}

.catalogue__accordion-cat::after {
  content: '';
  position: absolute;
  right: 18px;
  top: 46px;
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform-origin: center center;
  transform: rotate(45deg);
  transition: .3s;
}

.ui-accordion-header-active::after {
  transform: rotate(-135deg);
  top: 51px;
}

.catalogue__accordion-cat:hover {
  color: var(--color-violet);
  border-color: var(--color-violet);
}

.catalogue__accordion-cat:hover::before {
  background-color: var(--color-violet);
}

.catalogue__accordion-cat:hover::after {
  border-color: white;
}

.catalogue__accordion-cat:active {
  color: var(--color-violet-dark);
  border-color: var(--color-violet-dark);
}

.catalogue__accordion-cat:active::before {
  background-color: var(--color-violet-dark);
  box-shadow: inset 0 0 0 2px var(--color-violet-light);
}

.catalogue__accordion-cat:active::after {
  border-color: white;
}

.catalogue__accordion-list {
  display: flex;
  padding-left: 0 !important;
  padding-top: 25px !important;
  justify-content: space-between;
  border-top: 1px solid var(--color-violet) !important;
  border-bottom: 1px solid var(--color-violet);
}

.catalogue__accordion-list-col {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalogue__accordion-list-item-frame {
  width: 260px;
}

.catalogue__accordion-list-item {
  margin-left: 0px;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.95;
  outline-offset: 2px;
  transition: .3s;
  border-bottom: 1px solid transparent;
}

.catalogue__accordion-list-item:focus {
  outline: 2px solid var(--color-violet-dark);
}

.catalogue__accordion-list-item:hover {
  color: var(--color-violet);
  border-color: var(--color-violet);
  letter-spacing: 0;
}

.catalogue__accordion-list-item-active {
  color: var(--color-violet-dark);
  font-weight: 600;
  letter-spacing: 0;
  pointer-events: none;
}

/* EVENTS */

.events__container {
  display: flex;
  flex-direction: column;
}

.events__header {
  margin-bottom: 15px;
  margin-top: 23px;
}

.events__card-list {
  height: fit-content;
  display: flex;
  row-gap: 50px;
  column-gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: .5s;
}

.events__card {
  display: none;
  height: 700px;
  position: relative;
  flex: 1 1 25%;
  max-width: 32%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #cacaca;
  opacity: 0;
  transition: .5s;
}

.events__card-visible {
  display: flex !important;
  opacity: 1 !important;
}

.events__visible-at-1920 {
  display: flex;
  opacity: 1;
}

.events__card-img {
  width: 100%;
  object-fit: contain;
}

.events__card-place {
  margin-left: auto;
  margin-right: 18px;
  margin-bottom: 0;
  margin-top: 15px;
  color: var(--color-text-gray);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.events__card-date {
  margin-left: auto;
  margin-right: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text-gray);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.events__card-header {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.events__card-desc {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 2;
}

.events__card-link {
  position: absolute;
  bottom: 40px;
  left: 50px;
  color: var(--color-violet);
  font-size: 16px;
  line-height: 2;
  justify-self: flex-end;
  border-bottom: 1px solid var(--color-violet);
  transition: .1s;
  outline-offset: 2px;
}

.events__card-link:hover {
  font-weight: 700;
  letter-spacing: 0;
}

.events__card-link:active {
  color: var(--color-violet-dark);
}

.events__card-link:focus {
  outline: 2px solid var(--color-violet-dark);
}

.events__card-template {
  height: 0 !important;
  opacity: 0 !important;
  pointer-events: none;
}

.events__more-button {
  margin-top: 50px;
  position: relative;
  align-self: center;
  padding: 17px 33px;
  border-radius: 100px;
  border: 2px solid var(--color-violet);
  background-color: transparent;
  color: var(--color-violet);
  font-size: 18px;
  font-weight: 700;
  transition: .3s;
}

.events__more-button-hidden {
  display: none;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}

.events__more-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  border-radius: 100px;
  border: 6px solid transparent;
  opacity: 0;
  transition: .3s;
  box-shadow: 0 0 0 2px var(--color-violet-hover);
}

.events__more-button:focus::after {
  opacity: 1;
}

.events__more-button:hover {
  background-color: var(--color-violet);
  color: white;
}

.events__more-button:active {
  background-color: var(--color-violet-dark);
  border-color: var(--color-violet-light);
}

/* BOOKS */

.books {
  margin-top: 80px;
  background-image: url("/blanchard/img/books-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.books__container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 70px;
  padding-left: 160px;
  padding-right: 160px;
}

.books__header {
  margin-bottom: 16px;
  margin-left: -3px;
}

.books__filters-col {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.books__cat-filter {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 2;
  font-weight: 700;
}

.books__filters {
  display: flex;
  flex-direction: column;
}

.books__cat-filter-label {
  margin-bottom: 0;
  width: fit-content;
  cursor: pointer;
  outline-offset: 2px;
}

.books__cat-filter-label:focus {
  outline: 2px solid var(--color-violet-dark);
}

.books__cat-filter-desc::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transition: .5s;
}

.books__cat-filter-desc::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 9px;
  display: block;
  width: 0px;
  height: 0px;
  border: 2px solid var(--color-violet);
  border-radius: 100px;
  opacity: 0;
  transition: .5s;
}

.books__cat-filter-desc {
  transition: .5s;
}

.books__cat-filter-item:checked + .books__cat-filter-desc,
.books__cat-filter-item:hover + .books__cat-filter-desc
{
  color: var(--color-violet-hover);
}

.books__cat-filter-item:active + .books__cat-filter-desc,
.books__cat-filter-item:checked:hover + .books__cat-filter-desc
{
  color: var(--color-violet-dark);
}

.books__cat-filter-label:active + .books__cat-filter-desc::before,
.books__cat-filter-item:checked:hover + .books__cat-filter-desc::before,
.books__cat-filter-item:checked:hover + .books__cat-filter-desc::after
{
  border-color: var(--color-violet-dark);
}

.books__cat-filter-item:checked + .books__cat-filter-desc::before,
.books__cat-filter-item:hover + .books__cat-filter-desc::before
{
  border-color: var(--color-violet-hover);
}

.books__cat-filter-item:checked + .books__cat-filter-desc::after,
.books__cat-filter-item:hover + .books__cat-filter-desc::after
{
  opacity: 1;
}

.books__cat-filter-item:active + .books__cat-filter-desc::after {
  opacity: 0;
}

.books__cat-filter-item {
  display: none;
}

.books__cost-filter {
  padding-right: 10px;
  padding-left: 10px;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;
}

.books__cat-filter-desc {
  position: relative;
  font-size: 16px;
  line-height: 2;
}

.books__unselect-button {
  display: none;
  position: relative;
  background-color: transparent;
  border: none;
}

.books__unselect-button::before {
  content: '';
  display: block;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 2px;
  background-color: var(--color-violet);
  transform: rotate(45deg);
}

.books__unselect-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 2px;
  background-color: var(--color-violet);
  transform: rotate(-45deg);
}

.books__cost-filter-text {
  margin-top: 29px;
  margin-bottom: 5px;
  font-weight: 700;
}

.books__cost-filter-text,
.books__cost-filter-from,
.books__cost-filter-to,
.books__cost-filter-rub
{
  font-size: 16px;
  line-height: 2;
}

.books__cost-filter-from-input,
.books__cost-filter-to-input
{
  margin-right: 7px;
  margin-left: 7px;
  width: 70px;
  height: 40px;
  padding: 4px 10px;
  background-color: rgba(157, 92, 208, .5);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  outline: none;
}

.books__cost-filter-from-input::placeholder,
.books__cost-filter-to-input::placeholder
{
  color: white;
}

.books__swiper-col {
  padding-top: 95px;
  width: 78.3%;
  position: relative;
  z-index: 0;
}

.books__swiper-pagination {
  display: inline-block;
  bottom: initial;
  pointer-events: none;
}

.books__swiper-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 32px;
  left: -2px;
  width: 150px;
  height: 30px;
}

.books__swiper-button-prev,
.books__swiper-button-next
{
  display: inline-block;
  position: relative;
  margin-top: 0;
  top: initial;
  height: 30px;
  width: 30px;
  background-color: #666;
  border-radius: 100px;
  outline: none;
  transition: .3s;
}

.books__swiper-button-prev::after,
.books__swiper-button-next::after
{
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 7px;
  height: 7px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.books__swiper-button-prev::after {
  transform: rotate(-45deg) translate(1px, -4px);
}

.books__swiper-button-next::after {
  transform: rotate(135deg) translate(1px, 6px);
}

.books__swiper-button-prev:focus,
.books__swiper-button-next:focus
{
  box-shadow: inset 0 0 0 2px var(--color-violet-dark);
}

.books__swiper-button-prev:hover,
.books__swiper-button-next:hover
{
  background-color: var(--color-violet);
}

.books__swiper-button-prev:active,
.books__swiper-button-next:active
{
  box-shadow: inset 0 0 0 2px var(--color-violet-light);
  background-color: var(--color-violet-dark);
}

.books__swiper-slide {
  margin-bottom: 10px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.books__book-img {
  width: 100%;
}

.books__book-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.books__book-name,
.books__book-author,
.books__book-cost
{
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books__book-name {
  margin-bottom: 0;
  margin-top: 13px;
  font-weight: 700;
}

.books__book-author {
  margin-top: 0;
  margin-bottom: 0;
}

.books__book-cost {
  margin-top: 10px;
  margin-right: -3px;
  font-style: italic;
}

.books__book-button {
  margin-bottom: 8px;
  position: relative;
  padding: 8px 20px;
  border: 2px solid var(--color-violet);
  border-radius: 100px;
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: white;
  transition: .3s;
}

.books__book-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  border-radius: 100px;
  border: 6px solid transparent;
  opacity: 0;
  transition: .3s;
  box-shadow: 0 0 0 2px var(--color-violet-hover);
}

.books__book-button:focus::after {
  opacity: 1;
}

.books__book-button:hover {
  background-color: var(--color-violet);
}

.books__book-button:active {
  background-color: var(--color-violet-dark);
  border-color: var(--color-violet-light);
}

/* PROJECTS */

.projects__header {
  margin-top: 80px;
  margin-bottom: 15px;
  margin-left: -3px;
}

.projects__text-container {
  padding-right: 33%;
}

.projects__text {
  font-size: 16px;
  line-height: 2;
}

.projects__i-tooltip {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: translate(0px, 2px);
}

.projects__tooltip-icon {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: white;
  color: var(--color-violet);
  border: 1px solid var(--color-violet);
  border-radius: 100px;
  font-size: 11px;
  font-weight: 600;
  transition: .3s;
}

.projects__tooltip-icon:hover {
  color: white;
  background-color: var(--color-violet);
}

.projects__tooltip-text {
  display: block;
  padding: 5px 10px;
  width: 260px;
  position: absolute;
  bottom: 100%;
  left: -200px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(83px);
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  background-color: #cacaca;
  transition: .5s;
}

.projects__tooltip-text::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -6px;
  left: 115px;
  border-bottom: 10px solid #cacaca;
  border-left: 10px solid #cacaca;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  transform: rotate(-45deg);
  opacity: 0;
  transition: .5s;
  pointer-events: none;
}

.projects__i-tooltip:hover > .projects__tooltip-text,
.projects__i-tooltip:hover > .projects__tooltip-text::after
{
  opacity: 1;
}

.projects__link {
  color: var(--color-violet);
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: .3s;
}

.projects__link:focus {
  outline: 2px solid var(--color-violet-dark);
}

.projects__link:hover {
  border-bottom: 1px solid var(--color-violet);
}

.projects__link:active {
  color: var(--color-violet-dark);
}

.projects__partners {
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: -3px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}

.projects__swiper-container {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

.projects__partners-swiper {
  height: fit-content;
}

.projects__swiper-slide {
  height: 150px;
  border: 1px solid #885BC7;
  overflow: hidden;
}

.projects__swiper-button-prev {
  left: 0;
}

.projects__swiper-button-next {
  right: 0;
}

.projects__swiper-button-prev,
.projects__swiper-button-next
{
  top: 85px;
  height: 30px;
  width: 30px;
  background-color: #ececec;
  border-radius: 100px;
  outline: none;
  transition: .3s;
}

.projects__swiper-button-prev::after,
.projects__swiper-button-next::after
{
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 7px;
  height: 7px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transition: .3s;
}

.projects__swiper-button-prev::after {
  transform: rotate(-45deg) translate(1px, -4px);
}

.projects__swiper-button-next::after {
  transform: rotate(135deg) translate(1px, 6px);
}

.projects__swiper-button-prev:focus,
.projects__swiper-button-next:focus
{
  box-shadow: inset 0 0 0 2px var(--color-violet-dark);
}

.projects__swiper-button-prev:hover,
.projects__swiper-button-next:hover
{
  background-color: var(--color-violet);
}

.projects__swiper-button-prev:hover::after,
.projects__swiper-button-next:hover::after
{
  border-color: white;
}

.projects__swiper-button-prev:active,
.projects__swiper-button-next:active
{
  box-shadow: inset 0 0 0 2px var(--color-violet-light);
  background-color: var(--color-violet-dark);
}

.projects__partner-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  transition: 0.4s;
}

.projects__partner-link:hover {
  filter: none;
}

.projects__partner-img {
  width: 100%;
  height: 100%;
}

/* CONTACTS */

.contacts__container {
  position: relative;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}

.contacts__header {
  margin-left: 157px;
  margin-top: 80px;
  margin-bottom: 18px;
}

.contacts__left {
  width: 35.5%;
  height: 700px;
  padding-left: 160px;
  padding-right: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
  border: 1px solid #cacaca;
}

.contacts__addr-header {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.contacts__addr {
  margin-right: -20px;
  font-size: 16px;
  line-height: 2;
}

.contacts__num-montserrat {
  font-family: 'Montserrat';
}

.contacts__form-header {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.contacts__form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__form-input {
  position: relative;
  margin-bottom: 21px;
  height: 40px;
  width: 100%;
  padding: 4px 24px;
  border-radius: 100px;
  border: 1px solid var(--color-text);
  outline: none;
  cursor: pointer;
}

.just-validate-tooltip-container {
  width: 100%;
}

.contacts__form-button {
  position: relative;
  padding: 17px 33px;
  border: 2px solid var(--color-violet);
  color: var(--color-violet);
  background-color: transparent;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition: .3s;
}

.contacts__form-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  border-radius: 100px;
  border: 6px solid transparent;
  opacity: 0;
  transition: .3s;
  box-shadow: 0 0 0 2px var(--color-violet-hover);
}

.contacts__form-button:focus::after {
  opacity: 1;
}

.contacts__form-button:hover {
  background-color: var(--color-violet);
  color: white;
}

.contacts__form-button:active {
  background-color: var(--color-violet-dark);
  border-color: var(--color-violet-light);
}

.contacts__links {
  display: flex;
}

.contacts__link-text {
  margin-top: 38px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.contacts__link {
  margin-right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}

.contacts__link:focus {
  outline: 2px solid var(--color-violet-dark);
}

.contacts__wa-link {
  background-image: url("/blanchard/img/Whatsapp-Icon.svg");
}

.contacts__tg-link {
  background-image: url("/blanchard/img/Telegram-Icon.svg");
}

.contacts__map {
  height: 700px;
  width: 64.5%;
}

.ymaps-2-1-78-ground-pane {
  filter: grayscale(1);
}

/* FOOTER */

.footer {
  height: 140px;
  background-color: black;
}

.footer__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  outline: none;
  outline-offset: 5px;
}

.footer__logo:focus {
  outline: 2px solid var(--color-violet-dark);
}

.footer__socials-list {
  display: flex;
}

.footer__social-item {
  margin-left: 20px;
}

.footer__social-item:first-child {
  margin-left: 0;
}

.footer__social-link {
  display: block;
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}

.footer__social-link:focus {
  outline: 2px solid var(--color-violet-dark);
}

.footer__vk-link {
  background-image: url("/blanchard/img/vk.svg");
}

.footer__inst-link {
  background-image: url("/blanchard/img/instagram.svg");
}

.footer__facebook-link {
  background-image: url("/blanchard/img/fb.svg");
}

/* ADAPTABLES */

@media (min-width: 2100px) {
  .hero__swiper-img {
    object-fit: cover;
  }
}

@media (max-width: 1500px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__higher-row {
    justify-content: space-around;
  }

  .header__burger-button {
    display: flex;
    left: 43px;
    justify-content: space-around;
    align-items: center;
  }

  .header__logo-img {
    transform: scale(1.09) translateX(2px);
  }

  .header__nav {
    flex-direction: column;
    position: absolute;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    top: 0;
    height: 768px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
  }

  .header__nav-list {
    margin-right: 0;
    width: fit-content;
    flex-direction: column;
  }

  .header__nav-link {
    font-size: 24px;
    line-height: 64px;
  }

  .header__login-button {
    width: fit-content;
    padding: 20px 90px;
    border-radius: 100px;
    border: 2px solid var(--color-violet);
  }

  .header__lower-row {
    height: 0;
    background-color: transparent;
  }

  .header__dropdown-menu {
    display: none;
  }

  .header__search-field {
    position: absolute;
    right: 47px;
    top: 22px;
    overflow: hidden;
  }

  .header__search-icon {
    left: 2px;
    transform: translateX(232px);
  }

  .header__search {
    transform: translateX(232px);
  }

  .header__search:focus,
  .header__search:focus + .header__search-icon {
    transform: translateX(0px);
  }

  .hero {
    height: 768px;
  }

  .hero__text-block {
    width: 80%;
    top: 142px;
  }

  .hero__text {
    margin-top: 12px;
  }

  .hero__subscribe-button {
    margin-top: 115px;
  }

  .hero__swiper-img {
    height: 768px;
  }

  .about__text {
    padding-right: 0;
  }

  .gallery {
    height: 839px;
  }

  .gallery__filters-column {
    width: 34%;
  }

  .gallery__swiper-nav {
    left: -6px;
  }

  .gallery__swiper-slide {
    height: 280px;
  }

  .catalogue {
    margin-bottom: 95px;
  }

  .catalogue__countries {
    align-items: flex-end;
  }

  .catalogue__header-text {
    margin-bottom: 40px;
    width: 100%;
  }

  .catalogue__artist-page-place {
    margin-right: 50px;
  }

  .catalogue__artist-img {
    width: 100%;
  }

  .catalogue__artist-name {
    margin-top: 28px;
  }

  .catalogue__atrist-text {
    width: 101%;
  }

  .catalogue__accordion-list-col {
    height: 395px;
  }

  .events__card-list {
    column-gap: 27px;
  }

  .events__card {
    height: 683px;
    max-width: 32%;
    overflow: hidden;
  }

  .events__card-img {
    min-height: 200px;
    object-fit: cover;
  }

  .events__card-header {
    margin-left: 32px;
    margin-right: 25px;
    margin-top: 2px;
    line-height: 33px;
  }

  .events__card-desc {
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 5px;
  }

  .events__card-link {
    left: 33px;
    bottom: 44px;
  }

  .events__more-button {
    margin-top: 50px;
  }

  .books__filters-col {
    margin-right: -33px;
    width: 40%;
  }

  .books__swiper-nav {
    left: -6px;
    top: 35px;
  }

  .books__swiper-slide {
    height: 440px;
  }

  .books__book-name {
    margin-top: 0;
  }

  .books__book-cost {
    margin-right: 0;
    margin-top: 0;
  }

  .projects__text-container {
    padding-right: 0;
  }

  .projects__swiper-container {
    padding-right: 52px;
    padding-left: 52px;
  }

  .projects__swiper-slide {
    height: 128px;
  }

  .projects__swiper-button-next,
  .projects__swiper-button-prev
  {
    top: 70px;
  }

  .contacts__header {
    margin-left: 50px;
  }

  .contacts__left {
    width: 47.5%;
    padding-left: 50px;
    padding-right: 98px;
  }

  .contacts__form-header {
    margin-bottom: 13px;
  }

  .contacts__link {
    margin-right: 27px;
    width: 60px;
    height: 60px;
  }

  .contacts__map {
    width: 52.5%;
  }

  .footer__social-item {
    margin-left: 29px;
  }

  .footer__social-link {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 800px) {

  .header__higher-row {
    z-index: 3;
  }

  .header__nav {
    z-index: 15;
  }

  .header__burger-cross {
    z-index: 16;
  }

  .header__search-field {
    width: 0;
    height: 100%;
    padding-left: 90px;
    padding-right: 0;
    top: 0;
    right: 0;
    background-color: black;
    align-items: center;
    justify-content: center;
    transform: translateX(-35px);
    z-index: 10;
  }

  .header__search {
    width: 100%;
    transform: translateX(0);
    border-color: transparent !important;
  }

  .header__search-icon {
    top: initial;
    left: 50px;
    transform: translateX(0) scale(1);
  }

  .header__search-visible {
    width: 100%;
    padding-right: 100px;
    transform: none;
  }

  .header__search-visible > .header__search {
    border-color: white !important;
  }

  .header__search-visible > .header__search-close {
    display: block;
  }

  .header__search-field:hover > .header__search {
    border-color: initial;
  }

  .header__logo-img {
    transform: scale(1.1) translateX(4px);
  }

  .hero__text-block {
    width: 100%;
  }

  .choices {
    width: 40.5%;
  }

  .gallery {
    height: 1169px;
  }

  .gallery__container {
    position: relative;
  }

  .gallery__filters-column {
    margin-right: 0;
    width: 90%;
    height: 86%;
    position: absolute;
  }

  .gallery__swiper-column {
    width: 100%;
    margin-top: 247px;
  }

  .catalogue__countries {
    align-items: center;
  }

  .catalogue__country-item {
    margin-right: 54px;
  }

  .catalogue__country-item:last-child {
    margin-right: 0;
  }

  .catalogue__header-text {
    margin-bottom: 20px;
  }

  .catalogue__main-row {
    flex-direction: column-reverse;
    height: unset;
  }

  .catalogue__accordion {
    width: 100%;
    margin-bottom: 1190px;
  }

  .catalogue__accordion-list-col {
    height: 300px;
  }

  .ui-accordion .ui-accordion-content {
    padding-right: 10px;
  }

  .catalogue__accordion-list-item-frame {
    width: fit-content;
  }

  .catalogue__artist-page-place {
    width: 100%;
    margin-right: 0;
    height: 700px;
  }

  .events__header {
    margin-top: 15px;
  }

  .events__card {
    flex: 1 1 40%;
    max-width: unset;
  }

  .events__card-desc {
    margin-bottom: 135px;
  }

  .events__more-button {
    margin-top: 50px;
  }

  .events__visible-at-1920 {
    display: none;
    opacity: 0;
  }

  .events__visible-at-768 {
    display: flex;
    opacity: 1;
  }

  .books {
    margin-top: 85px;
    background-image: url("/blanchard/img/gallery-background-768p.jpg");
  }

  .books__container {
    flex-direction: column;
  }

  .books__filters-col {
    width: 100%;
  }

  .books__filters {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 130px;
  }

  .books__cat-filter-label {
    margin-right: 7px;
  }

  .books__cost-filter-text {
    margin-top: 24px;
  }

  .books__swiper-col {
    width: 100%;
    padding-right: 30px;
    padding-left: 20px;
  }

  .books__swiper-nav {
    top: 40px;
    left: -8px;
  }

  .books__swiper-slide {
    margin-bottom: 0;
    height: 446px;
  }

  .projects__text-container {
    padding-right: 10px;
  }

  .projects__partners {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .projects__swiper-slide {
    height: 106px;
  }

  .projects__swiper-button-next, .projects__swiper-button-prev {
    top: 60px;
  }

  .contacts__header {
    margin-left: 47px;
  }

  .contacts__left {
    width: 56%;
    padding-right: 42px;
    padding-left: 48px;
    padding-top: 122px;
  }

  .contacts__form-header {
    margin-top: 28px;
    margin-bottom: 15px;
  }

  .contacts__form-input {
    margin-bottom: 23px;
  }

  .contacts__form-button {
    padding: 15px 33px;
  }

  .contacts__link {
    margin-right: 29px;
  }

  .contacts__map {
    width: 44%;
  }
}

@media (max-width: 700px) {

  .catalogue__header-row {
    flex-wrap: wrap;
  }

  .catalogue__countries {
    margin-left: 0;
  }

  .catalogue__accordion {
    margin-bottom: 1650px;
  }

  .catalogue__accordion-list-col {
    height: fit-content;
  }

  .books__filters {
    height: 200px;
  }

}

@media (max-width: 500px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-header {
    font-size: 28px;
    line-height: 38px;
  }

  .header__higher-row {
    height: 45px;
  }

  .header__logo-img {
    height: 22px;
    width: 100px;
    transform: translateX(0) translateY(2px);
  }

  .header__burger-button {
    top: -9px;
    left: 0px;
    transform: scale(0.55);
  }

  .header__burger-cross {
    top: 0;
  }

  .header__nav {
    height: 355px;
    padding-top: 45px;
    padding-left: 15px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 2;
  }

  .header__login-button {
    margin-top: 18px;
    padding: 10px 30px;
    font-size: 12px;
  }

  .header__login-button:focus {
    outline: none;
  }

  .header__login-button-icon {
    transform: scale(0.65);
  }

  .header__logo {
    margin-right: 0;
  }

  .header__search-field {
    transform: translateX(5px);
  }

  .header__search-icon {
    transform: scale(0.6);
  }

  .header__search-visible {
    height: 200%;
    padding-right: 64px;
    padding-left: 76px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
    transform: translateX(0);
  }

  .header__search-close {
    top: 20px;
    right: 10px;
    transform: scale(0.5);
  }

  .header__search {
    font-size: 12px;
  }

  .header__search:focus {
    outline: none;
  }

  .header__search:focus + .header__search-icon {
    transform: scale(0.6);
  }

  .hero {
    height: 355px;
  }

  .hero__container {
    height: 100%;
  }

  .hero__text-block {
    padding-left: 25px;
    padding-right: 25px;
    top: 0;
    text-align: center;
  }

  .hero__text-header {
    margin-left: 0;
    margin-top: 77px;
    font-size: 32px;
    line-height: 37px;
  }

  .hero__text {
    margin-top: 14px;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .hero__subscribe-button {
    margin-top: 29px;
    padding: 10px 16px;
    font-size: 12px;
  }

  .hero__swiper-img {
    height: 100%;
  }

  .about__container {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about__text {
    margin-top: 12px;
    font-size: 14px;
  }

  .gallery {
    height: 962px;
  }

  .gallery__container {
    padding-top: 50px;
  }

  .gallery__filters-column {
    height: 86.5%;
  }

  .gallery__filters-text {
    margin-top: 12px;
  }

  .choices {
    width: 100%;
  }

  .choices:focus {
    outline: none;
  }

  .choices__inner {
    min-height: 40px;
    height: 40px;
  }

  .choices__list--single {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .gallery__swiper-column {
    margin-top: 160px;
  }

  .gallery__swiper-slide {
    height: 367px;
  }

  .gallery__swiper-img {
    height: 367px;
  }

  .gallery__swiper-nav {
    bottom: 170px;
    left: 24%;
    top: unset;
  }

  .catalogue {
    margin-bottom: 120px;
  }

  .catalogue__header-row {
    margin-bottom: 20px;
  }

  .catalogue__countries {
    margin-top: 12px;
  }

  .catalogue__country-item {
    margin-right: 32px;
    width: 32px;
    height: 32px;
  }

  .catalogue__country-button {
    width: 32px;
    height: 32px;
  }

  .catalogue__country-button-border {
    border-width: 21px;
  }

  .catalogue__header-text {
    display: none;
  }

  .catalogue__accordion {
    margin-bottom: 1375px;
  }

  .catalogue__accordion-cat {
    font-size: 18px !important;
    padding: 20px 0 !important;
  }

  .catalogue__accordion-cat::before {
    width: 27px;
    height: 27px;
    top: 23px;
    right: 1px;
  }

  .catalogue__accordion-cat::after {
    width: 6px;
    height: 6px;
    top: 34px;
    right: 12px;
  }

  .catalogue__accordion-list {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }

  .catalogue__artist-name {
    margin-top: 17px;
    max-width: unset;
  }

  .catalogue__artist-dates {
    margin-top: 12px;
  }

  .catalogue__atrist-text {
    margin-top: 7px;
    width: 99%;
  }

  .events__container {
    padding-bottom: 67px;
  }

  .events__header {
    margin-top: 14px;
    margin-bottom: 10px;
  }

  .events__card-list {
    flex-wrap: nowrap;
  }

  .events__card {
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    opacity: 1;
    flex: unset;
    flex-shrink: 0;
  }

  .events__card-place,
  .events__card-date
  {
    margin-right: 10px;
  }

  .events__card-header {
    margin-top: 3px;
    margin-left: 28px;
    margin-right: 10px;
  }

  .events__card-desc {
    margin-top: 35px;
    margin-left: 28px;
    margin-right: 30px;
    margin-bottom: 138px;
  }

  .events__card-link {
    bottom: 46px;
    left: 28px;
  }

  .events__more-button {
    display: none;
  }

  .events__swiper-nav {
    position: absolute;
    bottom: 32px;
    left: 50%;
    width: 125px;
    height: 20px;
    transform: translateX(-44%);
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 15px;
    filter: grayscale(1);
  }

  .books {
    margin-top: 15px;
  }

  .books__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .books__header {
    margin-bottom: 12px;
  }

  .books__cat-filter-label:focus {
    outline: none;
  }

  .books__filters-col {
    position: relative;
  }

  .books__cat-filter {
    position: relative;
    padding-top: 2px;
    padding-bottom: 3px;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  .books__cat-filter::after {
    content: '';
    display: block;
    position: absolute;
    right: 1px;
    top: 30%;
    height: 8px;
    width: 8px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform-origin: center center;
    transform: rotate(45deg);
    transition: .3s;
  }

  .books__cat-filter-opened::after {
    top: 40%;
    transform: rotate(-135deg);
  }

  .books__cat-filter-label {
    margin-right: 0;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .books__cat-filter-label::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
    opacity: 0;
  }

  .books__cat-filter-label-visible::after {
    opacity: 1;
  }

  .books__cat-filter-label-visible-always::after {
    opacity: 1;
  }

  .books__cat-filter-desc {
    display: none;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .books__cat-filter-desc::after {
    top: 16.5px;
  }

  .books__filters {
    width: 100%;
    top: 0;
    left: 0;
    height: fit-content;
  }

  .books__cat-filter-label-visible > .books__cat-filter-desc {
    display: initial;
  }

  .books__cat-filter-item:checked + .books__cat-filter-desc,
  .books__cat-filter-item:checked ~ .books__unselect-button
  {
    display: initial;
  }

  .books__cat-filter-item:checked ~ .books__cat-filter-label::after {
    opacity: 1;
  }

  .books__cost-filter-text {
    margin-top: 20px;
    margin-bottom: 6px;
  }

  .books__swiper-nav {
    display: none;
  }

  .books__swiper-col {
    padding-top: 38px;
    padding-right: 0;
    padding-left: 0;
    overflow: visible;
  }

  .books__swiper {
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 50px;
  }

  .books__swiper-slide {
    padding-left: 0;
    height: 254px;
    width: unset;
    flex: 1 1 30%;
    max-width: 45%;
  }

  .books__book-info {
    flex-direction: column;
  }

  .books__book-name {
    margin-top: 10px;
  }

  .books__book-name, .books__book-author, .books__book-cost {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .books__book-button {
    margin-bottom: 0;
    padding: 8px 34px;
    font-size: 12px;
  }

  .projects__header {
    margin-top: 50px;
    margin-bottom: 14px;
  }

  .projects__text-container {
    padding-right: 0;
  }

  .projects__tooltip-text {
    width: 100px;
    left: -40px;
    transform: translateX(0);
  }

  .projects__tooltip-text::after {
    left: 38px;
  }

  .projects__partners {
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 14px;
    font-size: 18px;
  }

  .projects__swiper-container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .projects__swiper-slide {
    height: 65px;
  }

  .projects__swiper-button-next, .projects__swiper-button-prev {
    top: 38px;
  }

  .contacts__header {
    margin-left: 13px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .contacts__left {
    width: 100%;
    height: unset;
    border: none;
    padding: 0 13px;
  }

  .contacts__addr-header {
    font-size: 18px;
    line-height: 24.5px;
  }

  .contacts__addr {
    margin-right: 0;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__form-header {
    margin-top: 356px;
    font-size: 18px;
  }

  .contacts__form-input {
    margin-bottom: 22px;
  }

  .contacts__form-button {
    margin-top: -4px;
    padding: 11px 35px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__link-text {
    margin-top: 19px;
    margin-bottom: 7px;
    font-size: 18px;
  }

  .contacts__links {
    margin-bottom: 30px;
  }

  .contacts__link {
    margin-right: 24px;
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    position: absolute;
    width: 100%;
    height: 320px;
    top: 110px;
  }

  .footer {
    height: 132px;
  }

  .footer__container {
    padding-top: 20px;
    padding-bottom: 17px;
    flex-direction: column-reverse;
  }

  .footer__logo-img {
    width: 97px;
  }

  .footer__social-link {
    width: 50px;
    height: 50px;
  }

}
